sudo: required
services:
    - docker

before_install:
    - docker build -t kautilya20/react-test -f ./client/dockerfile.dev ./client

script:
    - docker run kautilya20/react-test npm test -- --coverage

after_success:
    - docker build -t kautilya20/multi-client ./client
    - docker build -t kautilya20/multi-nginx ./nginx
    - docker build -t kautilya20/multi-server ./server
    - docker build -t kautilya20/multi-worker ./worker    
    # Log in to the docker CLI
    - echo $DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # Take those images and push them to docker hub
    - docker push kautilya20/multi-client
    - docker push kautilya20/multi-nginx
    - docker push kautilya20/multi-server
    - docker push kautilya20/multi-worker
